/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@import 'react-redux-toastr/src/styles/index';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.min-h-200 {
  min-height: 200px;
}

.max-h-200 {
  max-height: 200px;
}

.emoji-404 {
  position: relative;
  animation: myMove 2.5s infinite;
}

@keyframes myMove {
  33% {
    top: 0;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0
  }
}

button:disabled,
.btn--disabled {
  opacity: .5;
  cursor: not-allowed;
}

.visually-hidden:not(:focus):not(:active),
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}