/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.min-h-200 {
  min-height: 200px;
}

.max-h-200 {
  max-height: 200px;
}