.textarea {
  max-width: 100%;
  width: 100%;
  min-height: 80px;
  max-height: 300px;

  padding: 7px 15px;
  margin-bottom: 5px;

  font-size: theme("fontSize.base");
  color: theme("colors.black");
  outline-color: theme("colors.indigo.600");
  background-color: theme("colors.white");

  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);

  &::placeholder {
    color: theme("colors.gray.500");
  }
}