.input {
  min-height: 36px;
  max-height: 150px;
  min-width: 220px;
  padding: 7px 15px;

  color: theme("colors.black");
  border: none;
  border-radius: 5px;
  outline-color: theme("colors.indigo.600");
  background: theme("colors.white");
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

  font-size: 16px;
  line-height: 22px;
}

.input::placeholder {
  color: theme("colors.gray.600")
}

.error {
  border: 1px solid theme("colors.red.600");
}

.inputWrapper {
  display: flex;
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -18px;
  left: 0;

  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: theme("colors.red.600");
}
